@import url("https://fonts.googleapis.com/css2?family=Kavoon&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Sofia&effect=fire");
@import url("https://fonts.googleapis.com/css?family=Sofia&effect=neon|outline|emboss|shadow-multiple");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  interpolate-size: allow-keywords;
}

body,p,h1,h2,h3,h4,h5,h6,details,summary {
  font-family: "montserrat", system-ui;  
}

#logo {
  font-family: "Kavoon", serif;
}

/* Navbar */
.content {
  box-shadow: 0 2px 80px aliceblue;
}
.content-items {
  @apply tracking-[0.03rem] py-[1rem] px-[0.5rem] cursor-pointer hover:bg-[whitesmoke];
}
/* Navbar styling  ends here*/


details {
  border: 1px solid rgba(213, 213, 213, 0.7);
  margin-bottom: 8px;
  font-family: monospace;  
  cursor: pointer;
  overflow:hidden;
  transition:all 0.3s ease-in-out;
}

summary {
  list-style: none;
  /* background: #000; */
}

summary::after {
  content: "+";
  font-size: 34px;
  margin-left: auto;
  transition: all 0.3s ease-in-out;
  color:gray;
}

details[open]{
  background-color: white;
}

details[open] summary::after {
  /* content: "\00D7"; */
  rotate: -135deg;
  color:black;
}

details[open] summary .icon {
  content: "\00D7";
}
details::details-content{
  block-size:0;
  transition: all 0.4s ease-out;
  transition-behavior: allow-discrete;
}

details[open]::details-content{
  block-size:auto;
}