@import url("https://fonts.googleapis.com/css2?family=Kavoon&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Sofia&effect=fire");
@import url("https://fonts.googleapis.com/css?family=Sofia&effect=neon|outline|emboss|shadow-multiple");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-width: 320px;
  width: 100%;
  margin: auto;
  height: auto;
  font-family: "montserrat", serif;
}

.logo {
  font-family: "Kavoon", serif;
}

/* Navbar */

.content{
 box-shadow: 0 2px 80px aliceblue;  
}
.content-items {  
  @apply tracking-[0.03rem] py-[1rem] px-[0.5rem] cursor-pointer hover:bg-[whitesmoke];
}

/* Navbar styling  ends here*/